* {
  box-sizing: border-box;
}
.board{
  display: flex;
  flex-wrap: wrap;
  width:600px;
  margin: auto;
}
.tile, .active-tile {
  height: 80px;
  background-color: #999;
  border-radius: 10px;
  cursor: pointer;
}
.active-tile{
  background-color: green;
}